<%- include("header"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<div class="questions">
    <div id="q1">
        What is Nexus?
        <p>Nexus is an online platform designed for MVGR College students, offering a central hub for educational resources. It provides textbooks, study materials, and academic publications to aid learning. With a focus on affordability and accessibility, Nexus supports students in their academic pursuits. Tailored to MVGR's curriculum, it fosters a conducive learning environment through collaboration and customized content.</p>
    </div>    
    <div id="q2">
        How is Nexus beneficial for MVGR College students?
        <p>Nexus is specifically designed to cater to college students, offering a platform to access textbooks, study materials, and academic resources vital for their courses.</p>
    </div>
    <div id="q3">
        Does Nexus collaborate with colleges for content?
        <p>Nexus collaborates with colleges to ensure that the platform aligns with the curriculum, providing relevant and valuable educational content for the students.</p>
    </div>
    <div id="q4">
        How can students provide feedback to improve Nexus?
        <p>Students can share their feedback and suggestions through the dedicated portal on Nexus, helping us continually enhance the platform to meet their expectations and requirements.</p>
    </div>
    <!-- <div id="q5">
        Is Nexus accessible to everyone?
    </div> -->
</div>
<link rel="stylesheet" href="style.css">
<%- include("footer"); -%>