<%- include("header"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<form id="deletion" action="/deleteABook" method="POST">
    <input name="email" type="text" placeholder="Enter Email">
    <input name="title" type="text" placeholder="Enter Title of the Book">
    <button id="sub" name="delete" type="submit">DELETE</button>
</form>
<div id="redirect">
    <%= redirect %>
</div>
<link rel="stylesheet" href="style.css">
<%- include("footer"); -%>