<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/style.css">
        <link rel="icon" href="../public/favicon.ico" type="image/x-icon">
    </head>
<body>
<header>
    <div id="nexus">Nexus</div>
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/store">Store</a>
        <a href="/contact">Contact</a>
        <a href="/register">Login/signup↗</a>
    </div>
</header>
</body>
</html>