<link rel="stylesheet" href="../public/style.css">
<header>
    <div id="nexus">Nexus</div>
    <div id="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/store">Store</a>
        <a href="/contact">Contact</a>
        <a href="/register">Login/signup↗</a>
    </div>
</header>