<%- include("header"); -%>
<%- include("footer"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<div class="Body">
    <div id="Body-child-1">
        <h1> Welcome to NEXUS! </h1>
    </div>
    <div class="Body-child-2">
        <h2>Books Everywhere Anytime</h2>
    </div>
    <div id="Body-child-3">
        Explore a world of knowledge through Nexus, your online eBook sanctuary.
        Access a vast array of textbooks, storybooks, and biographies without breaking the bank.
        Dive into the realms of literature and learning anytime, anywhere with our digital library.
    </div>
    <%- include("ebook"); -%>
    <div id="browse">
        <a id="browse" href="/store">Browse</a>
    </div>
<link href="style.css" rel="stylesheet" type="text/css">