<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Login Page</title>
</head>

<body>
    <div id="main-container">
        <h1>
            <%= result %>
        </h1>
        <form action="/login" method="POST">
            <input name="email" type="email" placeholder="Enter Your Email">
            <input name="password" type="password" placeholder="Enter Your Password">
            <button name="login" type="submit">LOGIN</button>
        </form>
    </div>
</body>

</html>