<%- include("header"); -%>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
<form id="updating" action="/updateNewBook" method="POST">
    <input name="email" type="text" placeholder="Enter Email">
    <input name="title" type="text" placeholder="Enter title of the Book">
    <input name="newtitle" type="text" placeholder="Enter New Title">
    <input name="newdesc" type="text" placeholder="Enter Description">
    <input name="newpages" type="text" placeholder="Enter Pages">
    <input  name="newbookLink" type="text" placeholder="Enter new bookLink">
    <button id="sub" name="submit" type="submit">UPDATE</button>
</form>
<div id="redirect">
    <%= redirect %>
</div>
<link rel="stylesheet" href="style.css">
<%- include("footer"); -%>